{% for user in item.users %}
{{ user.username }}@{{ item.domain }}:{% if user.pass is defined %}
{SHA512-CRYPT}{{ user.pass|password_hash('sha512') }}
{% elif user.hash is defined %}{{ user.hash }}
{% endif %}
{% endfor %}
